@model List<ApplicationCore.Entities.wenyimv>
@{ 
    ViewData["Title"] = "home wenyi";
}

<h2>Top wenyi:@ViewBag.moviecount</h2>
@foreach(var item in Model)
            {
                <div>
                    @item.Id <br/>
                    @item.Title<br/>
                </div>
       }

@model List